<!DOCTYPE>

<html>
<head>
    <title>SideBar Menu</title>
</head>

<body>
    <div class="sidebar">
        <img alt="logo" height="200" src=
        "http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Plants-Trees-Leaf-icon.png"
        width="200">

        <ul>
            <li class="listItemA"><a href="#"><img alt="icon" height="40" src=
            "http://www.iconsdb.com/icons/preview/black/circle-xxl.png" width=
            "40">HOME</a></li>

            <li class="listItemT" style="left:0px; background:none;">
            PROJECTS</li>

            <li class="listItemA"><a href="#"><img alt="icon" height="40" src=
            "http://www.iconsdb.com/icons/preview/black/circle-xxl.png" width=
            "40">BEGINNER</a></li>

            <li class="listItemA"><a href="#"><img alt="icon" height="40" src=
            "http://www.iconsdb.com/icons/preview/black/circle-xxl.png" width=
            "40">ELEMENTS</a></li>

            <li class="listItemA"><a href="#"><img alt="icon" height="40" src=
            "http://www.iconsdb.com/icons/preview/black/circle-xxl.png" width=
            "40">GAMES</a></li>

            <li class="listItemA"><a href="#"><img alt="icon" height="40" src=
            "http://www.iconsdb.com/icons/preview/black/circle-xxl.png" width=
            "40">PAGES</a></li>
        </ul>
    </div>
</body>
</html>