
<h1>Edit Computer Languages</h1>
{{#data}}
<form action="/computerLanguages/update/{{Id}}" method = "POST" class="form-horizontal">
 </div>

	<div class="form-group form-group-sm">
		<label for="text" class="control-label col-xs-2">Computer Languages :</label>
			<div class="col-xs-3">	 
     				<input type="text" class="form-control" name="ComputerLanguages_name" placeholder="Edit Computer Language" required/>
			</div>
		
		</div> 
		{{/data}}

	<div class="form-group">
		<label for="number" class="control-label col-xs-2">Category Name :</label>
		<div class="col-xs-3">

			<select name="Category_Id">
                    {{#category}}
          <option value="{{Id}}"selected="true">{{Category_name}}</option>
                    {{/category}}
           </select>


     			
		</div>
	</div>

	
 	<input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  

</form>
