<h1>Edit Supplier</h1>
{{#data}}
<form action="/school/update/{{Id}}" method = "POST">
	Supplier:<input type="text" name="school_name" value="{{school_name}}">
	<input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  
</form>
{{/data}}

</div>
      <script>
      function myFunction() {
          alert("New School has been edited");
        }
      </script>
</div>