<h1>Edit Category</h1>
{{#data}}
<form action="/categories/update/{{Id}}" method="POST" class="form-inline" >
 	<div class="form-group form-group-sm">
		<label for="text" class="control-label col-lg-3">Category</label>	 
		 <div class="col-xs-3">
			<input type="text" name="Category_name" value="{{Category_name}}" class="form-control" placeholder="Please Enter Category name" required>
		</div>
	</div>
<input type="submit" class="btn btn-primary" id="enter" onclick="myFunction()">  

</form>	
{{/data}}
