<h2>Least Popular Category</h2>
<table class ="table" id = "leastPopulerPrd">
	<tr>
     <th>Category Id</th>
     <th>Category Name</th>
     <th>Total Number of Students</th>
     
   </tr>
{{#least}}
<tr>
  <th>{{Id}}</th>
  <th>{{Category_name}}</th>
  <th>{{TotalNumbers}}</th>
</tr> 
{{/least}}
</table>