<h1>Most Populer Category</h1>
<table class ="table" id = "mostPopulerCat">
	<tr>
     <th>Category Id</th>
     <th>Category Name</th>
     <th>Total Number of Students</th>
   </tr>
{{#most}}
<tr>
  <th>{{Id}}</th>
  <th>{{Category_name}}</th>
  <th>{{TotalNumbers}}</th>

</tr> 
{{/most}}
</table>